version: '3.5'

services:
  frontend-example:
    image: frontend-example
    environment:
      - API_URL=http://localhost:8000
    ports:
      - 5000:5000
    container_name: frontend-example
  backend-example:
    image: backend-example
    environment:
      - FRONT_URL=http://localhost:5000
    volumes:
      - ./logs.txt:/app/logs.txt
    ports:
      - 8000:8000
    container_name: backend-example
